In [45]:
years = list(range(1980,2024))

In [46]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [47]:
# import requests
# for year in years:
#     url = url_start.format(year)
#     data = requests.get(url)
    
#     with open("roty/{}.html".format(year),"w+", encoding="utf-8") as f:
#         f.write(data.text)

In [48]:
from bs4 import BeautifulSoup
import lxml
import pandas as pd

In [49]:
with open("roty/2017.html", encoding="utf-8") as f:
    page = f.read()

In [50]:
soup = BeautifulSoup(page, "html.parser")

In [51]:
print(soup.find('tr', class_="over_header").decompose())

None

In [52]:
roty_table = soup.find_all(id="roy")

In [53]:


roty_1991 = pd.read_html(str(roty_table))[0]
roty_1991

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Rank             Player                Age                 Tm
0                  1    Malcolm Brogdon                 24                MIL
1                  2        Dario Šarić                 22                PHI
2                  3        Joel Embiid                 22                PHI
3                  4        Buddy Hield                 24                TOT
4                 5T  Willy Hernangómez                 22                NYK
5                 5T       Jamal Murray                 19                DEN
6                  7    Marquese Chriss                 19                PHO
7                 8T       Jaylen Brown                 20                BOS
8                 8T       Yogi Ferrell                 23                TOT
9                 8T    Rodney McGruder                 25                MIA

  Voting                        Unnamed: 8_level_0 Per Game                  \
   First Pts Won Pts Max  Share                  G       MP   PTS  TRB  AST
0   64.0   414.0     500  0.828                 75     26.4  10.2  2.8  4.2
1   13.0   266.0     500  0.532                 81     26.3  12.8  6.3  2.2
2   23.0   177.0     500  0.354                 31     25.4  20.2  7.8  2.1
3    0.0    21.0     500  0.042                 82     23.0  10.6  3.3  1.5
4    0.0     8.0     500  0.016                 72     18.4   8.2  7.0  1.3
5    0.0     8.0     500  0.016                 82     21.5   9.9  2.6  2.1
6    0.0     3.0     500  0.006                 82     21.3   9.2  4.2  0.7
7    0.0     1.0     500  0.002                 78     17.2   6.6  2.8  0.8
8    0.0     1.0     500  0.002                 46     26.0  10.0  2.4  3.7
9    0.0     1.0     500  0.002                 78     25.2   6.4  3.3  1.6

            Shooting               Advanced
   STL  BLK      FG%    3P%    FT%       WS  WS/48
0  1.1  0.2    0.457  0.404  0.865      4.1  0.100
1  0.7  0.4    0.411  0.311  0.782      1.0  0.023
2  0.9  2.5    0.466  0.367  0.783      1.9  0.117
3  0.5  0.1    0.426  0.391  0.842      1.3  0.032
4  0.6  0.5    0.529  0.267  0.728      3.4  0.123
5  0.6  0.3    0.404  0.334  0.883      1.3  0.037
6  0.8  0.9    0.449  0.321  0.624      1.8  0.050
7  0.4  0.2    0.454  0.341  0.685      1.5  0.053
8  0.9  0.2    0.406  0.386  0.831      1.8  0.072
9  0.6  0.2    0.413  0.332  0.620      2.9  0.072

In [54]:
# dfs = []
# for year in years:
#     with open("roty/{}.html".format(str(year)), encoding="utf-8") as f:
#         page = f.read()
#     soup = BeautifulSoup(page, "html.parser")
#     soup.find('tr', class_="over_header").decompose()
#     roty_table = soup.find_all(id="roy")
#     roty = pd.read_html(str(roty_table), header= 1)[0]
#     roty["Year"] = year
#     dfs.append(roty)
    
# print(len(dfs))

In [55]:
# rotys = pd.concat(dfs)
# rotys.head()

In [56]:
# rotys.to_csv("rotys.csv")

In [57]:
# player_url = "https://www.basketball-reference.com/leagues/NBA_{}_rookies-season-stats.html"

# for year in years:
#     url = player_url.format(year)
#     data = requests.get(url)
        
#     with open("players/{}.html".format(year),"w+", encoding="utf-8") as f:
#         f.write(data.text)

In [58]:
df = []

for year in years:
    with open("players/{}.html".format(year),encoding="utf-8") as f:
        page = f.read()
        
    soup = BeautifulSoup(page, "html.parser")
    element = soup.find_all('tr', class_="over_header")
    for i in element:
        i.decompose()
    element = soup.find_all('tr', class_="thead")
    for i in element:
        i.decompose()
    player_table = soup.find_all(id="rookies")
    player = pd.read_html(str(player_table))[0]
    player["Year"] = year
    df.append(player)

In [59]:
players = pd.concat(df)
players

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,...,PF,PTS,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,Year
0,1,James Bailey,"Oct 14, '79, SEA @ SDC",22,1,67,726,122,271,0,...,116,312,0.450,NaN,0.673,10.8,4.7,2.9,0.4,1980
1,2,Billy Ray Bates,"Feb 23, '80, POR @ DET",23,1,16,235,72,146,8,...,26,180,0.493,0.421,0.718,14.7,11.3,1.8,1.9,1980
2,3,Larry Bird*,"Oct 12, '79, BOS vs. HOU",23,1,82,2955,693,1463,58,...,279,1745,0.474,0.406,0.836,36.0,21.3,10.4,4.5,1980
3,4,Lawrence Boston,"Mar 2, '80, WSB vs. IND",23,1,13,125,24,52,0,...,25,56,0.462,NaN,0.615,9.6,4.3,3.0,0.2,1980
4,5,Dudley Bradley,"Oct 12, '79, IND @ DET",22,1,82,2027,275,609,2,...,194,688,0.452,0.400,0.782,24.7,8.4,2.7,3.1,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,81,Jalen Williams,"Oct 19, '22, OKC @ MIN",21,1,75,2276,414,794,73,...,191,1056,0.521,0.356,0.812,30.3,14.1,4.5,3.3,2023
81,82,Jaylin Williams,"Oct 23, '22, OKC vs. MIN",20,1,49,914,102,234,46,...,111,288,0.436,0.407,0.704,18.7,5.9,4.9,1.6,2023
82,83,Jeenathan Williams,"Apr 2, '23, POR @ MIN",23,1,5,127,24,39,3,...,13,53,0.615,0.375,0.667,25.4,10.6,3.0,2.0,2023
83,84,Mark Williams,"Oct 19, '22, CHO @ SAS",21,1,43,828,160,251,0,...,94,387,0.637,NaN,0.691,19.3,9.0,7.1,0.4,2023
84,85,Vince Williams Jr.,"Oct 22, '22, MEM @ DAL",22,1,15,105,12,40,4,...,12,30,0.300,0.143,1.000,7.0,2.0,1.0,0.3,2023

In [60]:
players.to_csv("players.csv")

In [61]:
# url_start = 'https://www.basketball-reference.com/leagues/NBA_{}_standings.html'
# for year in years:
#     url = url_start.format(year)
#     data = requests.get(url)
        
#     with open("teams/{}.html".format(year),"w+", encoding="utf-8") as f:
#         f.write(data.text)

In [62]:
dfs = []
for year in years:
    with open("teams/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    element = soup.find_all('tr', class_="thead")
    for i in element:
        i.decompose()
    team_table = soup.find(id="divs_standings_E")
    team = pd.read_html(str(team_table))[0]
    team["Year"] = year
    team["Team"] = team["Eastern Conference"]
    del team["Eastern Conference"]
    dfs.append(team)

    soup = BeautifulSoup(page, "html.parser")
    element = soup.find_all('tr', class_="thead")
    for i in element:
        i.decompose()
    team_table = soup.find(id="divs_standings_W")
    team = pd.read_html(str(team_table))[0]
    team["Year"] = year
    team["Team"] = team["Western Conference"]
    del team["Western Conference"]
    dfs.append(team)

In [63]:
teams = pd.concat(dfs)

In [64]:
teams.head()

    W   L   W/L%    GB   PS/G   PA/G   SRS  Year                 Team
0  61  21  0.744     —  113.5  105.7  7.37  1980      Boston Celtics*
1  59  23  0.720   2.0  109.1  104.9  4.04  1980  Philadelphia 76ers*
2  39  43  0.476  22.0  107.0  109.5 -2.27  1980  Washington Bullets*
3  39  43  0.476  22.0  114.0  115.1 -0.96  1980      New York Knicks
4  34  48  0.415  27.0  108.3  109.5 -0.98  1980      New Jersey Nets

In [65]:
teams.to_csv("teams.csv")